h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#harrypotter {
    height: 190px;
}
#titanic {
    height: 180px;
}
#americanpie {
    height: 310px;
} 